.sidebar-properties {
  grid-area: properties;
  /* border-right: 1px solid grey; */
  border-right: 1px solid #4c566656;
  box-shadow: 0px 10px 15px #4c566660;
}

.property-info {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-bottom: 1px solid #4c566656;
}

.property-title,
.property-content {
  padding-left: 1rem;
}

.property-title {
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  height: var(--sidebar-width);
  line-height: var(--sidebar-width);
  width: 100%;
}

.property-info button {
  padding-right: 1rem;
  font-size: 1.4rem;
  color: #343b46;
  transition: color 250ms ease-out;
}

.property-info button:hover {
  color: #7c7d80;
  /* color: #434c5a; */
}

.property-explanation {
  position: absolute;
  background: grey;
  top: 0;
  right: -225px;
  width: 200px;
  height: auto;
  border: 1px solid black;
  z-index: 4;
}

.property-content {
  overflow: auto;
  overflow-x: hidden;
  padding-right: 1rem;
  height: calc(100vh - var(--sidebar-width) - var(--navbar-height));
}

.property-content::-webkit-scrollbar {
  width: 0.4rem;
}

.property-content::-webkit-scrollbar-thumb {
  background: #e57277;
  border-radius: 0.4rem;
}

.property-content::-webkit-scrollbar-track {
  background: #d9dbdf91;
  border-radius: 0.4rem;
}
