.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  height: var(--navbar-height);
  background: white;
  box-shadow: 0px 1px 15px #4c566660;
  z-index: 2;
}

.navbar-left-content,
.navbar-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left-content {
  height: 100%;
  padding-left: 0.5rem;
}

.navbar-left-content .logo {
  height: 70%;
}

.navbar-right-content {
  padding-right: 0.5rem;
}

.save-btn {
  position: relative;
  width: 75px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff5757, #ff1616);
  color: white;
  z-index: 1;
  text-align: center;
}

.save-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #ff1616, #ff5757);
  z-index: -1;
  transition: opacity 250ms linear;
  opacity: 0;
}

.clear-props-btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: #343b46;
  color: white;
  z-index: 1;
  text-align: center;
  margin-right: 1.5rem;
}

.save-btn:hover::before {
  opacity: 1;
}
